.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    color: white;
    background-color: rgb(43, 43, 43);

}