#tradingview_78c91 {
    height: 500px;
    width: 1000px;
}

.view-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    color: white;
}

.heading-container {
    width: 500px;
    height: 183px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    font-size: 60px;

    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: white;
}
